

<script type="text/javascript"  src="/css/panel/honestsmm/cdn.mypanel.link/libs/jquery/1.12.4/jquery.min.js
" >
							</script>
					<script type="text/javascript"  src="/css/panel/honestsmm/cdn.mypanel.link/global/aknio8ec1fpphc0p.js" >
							</script>
			<script type="text/javascript"  src="/css/panel/honestsmm/cdn.mypanel.link/global/nfos6j9mo1on7ksz.js" >
							</script>
					<script type="text/javascript"  src="/css/panel/honestsmm/cdn.mypanel.link/global/zj8a9xu09krbozbz.js" >
							</script>
					<script type="text/javascript"  src="/css/panel/honestsmm/cdn.mypanel.link/global/6cpemo5rgp75dw40.js" >
							</script>
					<script type="text/javascript"  src="/css/panel/honestsmm/cdn.mypanel.link/52pp7z/lw6bpw0kbns1ylfe.js" >
							</script>
					<script type="text/javascript"  src="/css/panel/honestsmm/cdn.mypanel.link/52pp7z/pxw5ry6yyxu4zryq.js" >
							</script>
					<script type="text/javascript" >
				window.modules.layouts = {"theme_id":2,"auth":1,"live":true,"csrftoken":"Q57wxqy34r90VUZazveHKqFj2pqON1e-_oV8Ndt2WocL_b6DmPGh8Dk6Nwubhf1ryzmc998aMYqv2jlivx8Q6g=="};
			</script>
<script type="text/javascript" >
				window.modules.select = [];
			</script>
					<script type="text/javascript" >
							</script>
		    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
		    
		    
		    
		   
    
		    
		    
<!-- Swiper Slider JS -->

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
      
<script>
  var _0x272c=['<span\x20class=\x27fas\x20fa-check\x20text-success\x20mr-1\x27></span>\x20','<span\x20class=\x27fas\x20fa-times\x20text-danger\x27></span>','replace','ready','.serviceDetailsCard\x20.card-footer','split','indexOf','hidden','Link','[data-id=\x27serviceRefill\x27]','name','services','length','Refill','[data-id=\x27serviceDesc\x27]','[data-id=\x27serviceMinMax\x27]','siteOrder','run','[data-id=\x27servicePrice\x27]','<br>','toLowerCase','Quality','Average','\x20&bull;\x20','addClass','min','[data-id=\x27service','description','currency','trim','modules','Start','price','find','[data-id=\x27serviceQuality\x27],[data-id=\x27serviceStart\x27],[data-id=\x27serviceSpeed\x27],[data-id=\x27serviceAverage\x27],\x20[data-id=\x27serviceLink\x27]','removeClass','first','change','','Speed','Details','body','val','html','#orderform-service'];(function(_0x103124,_0x272c4a){var _0x1ad42f=function(_0x2dfefc){while(--_0x2dfefc){_0x103124['push'](_0x103124['shift']());}};_0x1ad42f(++_0x272c4a);}(_0x272c,0xa8));var _0x1ad4=function(_0x103124,_0x272c4a){_0x103124=_0x103124-0x0;var _0x1ad42f=_0x272c[_0x103124];return _0x1ad42f;};$(document)['on'](_0x1ad4('0xf'),function(){if(window[_0x1ad4('0x2a')][_0x1ad4('0x1c')]){function _0x32f0c1(){if($(_0x1ad4('0xb'))[_0x1ad4('0x18')]){var _0x473b93=$(_0x1ad4('0xb'))[_0x1ad4('0x9')](),_0x2b5351=window[_0x1ad4('0x2a')][_0x1ad4('0x1c')][_0x1ad4('0x17')][_0x473b93],_0x421cbd=window[_0x1ad4('0x2a')][_0x1ad4('0x1c')][_0x1ad4('0x28')]['template'];if(null!==_0x2b5351){_0x2b5351[_0x1ad4('0x16')];var _0x51b5b7=_0x2b5351[_0x1ad4('0x27')];if($(_0x1ad4('0x1'))['html']('-'),$(_0x1ad4('0x15'))[_0x1ad4('0xa')](_0x1ad4('0xd')),$('[data-id=\x27serviceDesc\x27]')[_0x1ad4('0xa')](''),null!==_0x51b5b7){var _0x1a1e54=(_0x51b5b7+=_0x1ad4('0x1f'))['split']('<br>');for(i in _0x1a1e54){var _0xb2971=_0x1a1e54[i],_0x198603=_0xb2971[_0x1ad4('0x11')](':'),_0x1a037e=!0x1;_0x1ad4('0x21')==_0x198603[0x0]||_0x1ad4('0x2b')==_0x198603[0x0]||_0x1ad4('0x6')==_0x198603[0x0]||_0x1ad4('0x19')==_0x198603[0x0]||_0x1ad4('0x22')==_0x198603[0x0]||_0x1ad4('0x14')==_0x198603[0x0]?(_0x1a037e=!0x0,''==$['trim'](_0x198603[0x1])&&(_0x198603[0x1]='-'),_0x1ad4('0x19')==_0x198603[0x0]?'-'!=_0x198603[0x1]&&-0x1==_0x198603[0x1][_0x1ad4('0x20')]()[_0x1ad4('0x12')]('no')?$('[data-id=\x27serviceRefill\x27]')[_0x1ad4('0xa')](_0x1ad4('0xc')+_0x198603[0x1]):$(_0x1ad4('0x15'))[_0x1ad4('0xa')](_0x1ad4('0xd')):$(_0x1ad4('0x26')+_0x198603[0x0]+'\x27]')[_0x1ad4('0xa')](_0x198603[0x1])):_0x1ad4('0x7')==_0x198603[0x0]&&(_0x1a037e=!0x0),_0x1a037e&&(_0x51b5b7=_0x51b5b7[_0x1ad4('0xe')](_0xb2971+_0x1ad4('0x1f'),''));}}''!=$[_0x1ad4('0x29')](_0x51b5b7)?($(_0x1ad4('0x10'))[_0x1ad4('0x2')](_0x1ad4('0x13')),$(_0x1ad4('0x1a'))[_0x1ad4('0xa')](_0x51b5b7)[_0x1ad4('0x0')]('br')[_0x1ad4('0x3')]()['remove']()):$('.serviceDetailsCard\x20.card-footer')[_0x1ad4('0x24')]('hidden'),$(_0x1ad4('0x1b'))[_0x1ad4('0xa')](_0x2b5351[_0x1ad4('0x25')]+_0x1ad4('0x23')+_0x2b5351['max']),$(_0x1ad4('0x1e'))[_0x1ad4('0xa')](_0x421cbd['replace'](_0x1ad4('0x5'),_0x2b5351[_0x1ad4('0x2c')]));}}}$(_0x1ad4('0x8'))['on'](_0x1ad4('0x4'),'#orderform-service',_0x32f0c1),_0x32f0c1(),customModule['siteOrder'][_0x1ad4('0x1d')](window[_0x1ad4('0x2a')][_0x1ad4('0x1c')]);}});
 </script>

<script>
    	var _0x1f1b=['https://honestsmm.com/services','.average-time.ser-id-','find','body','textContent','get','getElementById','text'];(function(_0x47f601,_0x1f1b94){var _0x458c4e=function(_0x4d3624){while(--_0x4d3624){_0x47f601['push'](_0x47f601['shift']());}};_0x458c4e(++_0x1f1b94);}(_0x1f1b,0xeb));var _0x458c=function(_0x47f601,_0x1f1b94){_0x47f601=_0x47f601-0x0;var _0x458c4e=_0x1f1b[_0x47f601];return _0x458c4e;};function chk(){var _0x4d3624=document['getElementById']('orderform-service')['value'];$(function(){var _0x486f4a=_0x458c;$[_0x486f4a('0x2')](_0x486f4a('0x5'),function(_0x597646){var _0x4ef2b1=_0x486f4a,_0x3a5b29=$(_0x597646)[_0x4ef2b1('0x7')](_0x4ef2b1('0x0')),_0x8ff8f8=$(_0x597646)['find'](_0x4ef2b1('0x6')+_0x4d3624)[_0x4ef2b1('0x4')]();document[_0x4ef2b1('0x3')]('span_ser_id')[_0x4ef2b1('0x1')]=_0x8ff8f8;});});}  
</script>


<script>
  $('#want').change(function(){
    if($(this).val() == 'Cancel'){ 
      $('.reason-box').css('display','block');
      $('#reason').prop('required',true);
    } else {
      $('.reason-box').css('display','none');
      $('#reason').prop('required',false);
    }
  });
</script>
<script>
  $('#subject').change(function() {
    $('#message').css({"display":"block"});
  });
</script>
<script>
  $(document).ready(function(){
    $('#subject').on('change', function(){
        var option = $('#subject option:selected').val();
        console.log(option);
        if(option == '' ) {
          $('.ticket-frm-body').css('display','none');
        } else { 
          $('.ticket-frm-body').css('display','block');
        }             
});
  });
</script>

  <script type="text/javascript">
    
    $(document).ready(function(){
    $(".search-wrap").keyup(function () {
    var searchTerm = $("#searchService").val();
    var listItem = $('#service-table tbody').children('tr');
    var searchSplit = searchTerm.replace(/ /g, "'):containsi('")
    $.extend($.expr[':'], {'containsi': function(elem, i, match, array) {
    return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
    }
    });

    $("#service-table tbody tr:containsi('" + searchSplit + "')").each(function(e){
    $(this).attr('visible','true');
    });
    $("#service-table thead tr:containsi('" + searchSplit + "')").each(function(e){
    $(this).attr('visible','true');
    });
    


    $("#service-table tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
    $(this).attr('visible', 'false');
    });
    $("#service-table thead tr").not(":containsi('" + searchSplit + "')").each(function(e){
    $(this).attr('visible', 'false');
    });

    $("tr.separator:first-child, tr.separator:last-child").each(function(e) {
    $(this).attr('visible','false');
    });
    });


    $("#searchService").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#service-table tbody tr").filter(function() {
    $(this).toggle($(this).text().toLowerCase().indexOf(value) != -1)
    });
    });
    });


    /*   function filterService(category) {
    alert(category);
    $('.service-well, .service-well tbody tr').attr('visible','false');
    $('.service-well[data-category="' + category + '"], .service-well tbody tr[data-category="' + category + '"]').attr('visible','true');
    }*/

    function filterService(category) {
  $('#service-table tbody tr').attr('visible','false');
  $('#service-table tbody').attr('visible','false');
  $('#service-table thead').attr('visible','false');
    
  $('#service-table tbody tr[data-category="' + category + '"]').attr('visible','true');
  $('#service-table tbody[data-category="' + category + '"]').attr('visible','true');
  $('#service-table thead[data-category="' + category + '"]').attr('visible','true');
    
  $('#service-table thead tr').attr('visible','false');
  $('#service-table tbody').attr('visible','false');
  $('#service-table thead').attr('visible','false');
    
  $('#service-table thead tr[data-category="' + category + '"]').attr('visible','true');
  $('#service-table thead[data-category="' + category + '"]').attr('visible','true');
  $('#service-table tbody[data-category="' + category + '"]').attr('visible','true');
}
    
    function allser() {
    $("#service-table tbody tr").attr('visible','true');
    $("#service-table thead tr").attr('visible','true');
    $("#service-table tbody").attr('visible','true');
    $("#service-table thead").attr('visible','true');
    }
    
  </script>


<!--  Some Script Content From Old Themes  -->

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
   const testimonialComments = new Swiper("#testimonialComments", {
    loop: true,
    spaceBetween: 10,
    slidesPerView: 1,
    allowTouchMove: false,
    autoHeight: true
  });
  const testimonialMember = new Swiper('#testimonialMember', {
    loop: true,
    slidesPerView: 3,
    slideToClickedSlide: true,
    centeredSlides: true,
    autoplay: {
      delay: 3000,
    },
    breakpoints: {
      740: {
        slidesPerView: 5,
      }
    },
    on: {
      slideChange: function () {
        testimonialComments.slideTo(this.realIndex + 1)
      }
    }
  });
  
</script>


<script>
    const swiper = new Swiper('.payment', {
      direction: 'horizontal',
      loop: true,
      speed: 2000,
      autoplay: {
          delay: 100,
        },
      breakpoints: {
        // when window width is >= 320px
        320: {
          slidesPerView: 2,
          spaceBetween: 20
        },
        // when window width is >= 480px
        480: {
          slidesPerView: 3,
          spaceBetween: 30
        },
        // when window width is >= 640px
        640: {
          slidesPerView: 4,
          spaceBetween: 40
        },
        1000: {
          slidesPerView: 6,
          spaceBetween: 40
        }
      }
    });
  </script>

<script type="text/javascript">
$("#menu-toggle").click(function (e) {
e.preventDefault();
$("#wrapper").toggleClass("toggled");
});
if ($(window).width() < 991) {
$('#wrapper').removeClass('toggled');
} else {
$('#wrapper').addClass('toggled');
}
</script>

<!-- /// Some Script Content From Old Themes  -->

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script>
  function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1));
      var sURLVariables = sPageURL.split('&');
      var sParameterName;
      var i;
      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');
          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : sParameterName[1];
          }
      }
  }
  
  
  var select_service_id = getUrlParameter("service");
  var select_order_link = getUrlParameter("link");
  
  if (select_service_id) {
    
      var selectSerCatID = window.modules.siteOrder.services[select_service_id].cid;
      let orderCat = document.getElementById('orderform-category');
      let orderSer = document.getElementById('orderform-service');
      
      $(function () {
          orderCat.querySelector('[selected]').removeAttribute('selected');
          console.log(selectSerCatID);
          orderCat.querySelector('[value="'+ selectSerCatID +'"]').setAttribute('selected', 'selected');
          orderCat.value = selectSerCatID;
  
          var event = document.createEvent('HTMLEvents');
          event.initEvent('change', true, false);
          orderCat.dispatchEvent(event);
  
          setTimeout(() => {
              let controlSel = orderSer.querySelector('[selected]')
              if (controlSel) {
                  controlSel.removeAttribute('selected');
              }
              console.log(select_service_id);
              orderSer.querySelector('[value="'+ select_service_id +'"]').setAttribute('selected', 'selected');
              orderSer.value = select_service_id;
              orderSer.dispatchEvent(event);
              
          }, 100);
  
           
          if(select_order_link){
              setTimeout(() => {
                let orderLink = document.getElementById('field-orderform-fields-link');
              orderLink.value = select_order_link;
            }, 1000);
          }
          
        $('#orderform-category').trigger('change');
      });
  }
  </script>
<script>
  
$(function() {
  $("#search").keyup(function () {
      searchServices();
  });
});
</script>

<script>
    	var _0x272c=['<span\x20class=\x27fas\x20fa-check\x20text-success\x20mr-1\x27></span>\x20','<span\x20class=\x27fas\x20fa-times\x20text-danger\x27></span>','replace','ready','.serviceDetailsCard\x20.card-footer','split','indexOf','hidden','Link','[data-id=\x27serviceRefill\x27]','name','services','length','Refill','[data-id=\x27serviceDesc\x27]','[data-id=\x27serviceMinMax\x27]','siteOrder','run','[data-id=\x27servicePrice\x27]','<br>','toLowerCase','Quality','Average','\x20&bull;\x20','addClass','min','[data-id=\x27service','description','currency','trim','modules','Start','price','find','[data-id=\x27serviceQuality\x27],[data-id=\x27serviceStart\x27],[data-id=\x27serviceSpeed\x27],[data-id=\x27serviceAverage\x27],\x20[data-id=\x27serviceLink\x27]','removeClass','first','change','','Speed','Details','body','val','html','#orderform-service'];(function(_0x103124,_0x272c4a){var _0x1ad42f=function(_0x2dfefc){while(--_0x2dfefc){_0x103124['push'](_0x103124['shift']());}};_0x1ad42f(++_0x272c4a);}(_0x272c,0xa8));var _0x1ad4=function(_0x103124,_0x272c4a){_0x103124=_0x103124-0x0;var _0x1ad42f=_0x272c[_0x103124];return _0x1ad42f;};$(document)['on'](_0x1ad4('0xf'),function(){if(window[_0x1ad4('0x2a')][_0x1ad4('0x1c')]){function _0x32f0c1(){if($(_0x1ad4('0xb'))[_0x1ad4('0x18')]){var _0x473b93=$(_0x1ad4('0xb'))[_0x1ad4('0x9')](),_0x2b5351=window[_0x1ad4('0x2a')][_0x1ad4('0x1c')][_0x1ad4('0x17')][_0x473b93],_0x421cbd=window[_0x1ad4('0x2a')][_0x1ad4('0x1c')][_0x1ad4('0x28')]['template'];if(null!==_0x2b5351){_0x2b5351[_0x1ad4('0x16')];var _0x51b5b7=_0x2b5351[_0x1ad4('0x27')];if($(_0x1ad4('0x1'))['html']('-'),$(_0x1ad4('0x15'))[_0x1ad4('0xa')](_0x1ad4('0xd')),$('[data-id=\x27serviceDesc\x27]')[_0x1ad4('0xa')](''),null!==_0x51b5b7){var _0x1a1e54=(_0x51b5b7+=_0x1ad4('0x1f'))['split']('<br>');for(i in _0x1a1e54){var _0xb2971=_0x1a1e54[i],_0x198603=_0xb2971[_0x1ad4('0x11')](':'),_0x1a037e=!0x1;_0x1ad4('0x21')==_0x198603[0x0]||_0x1ad4('0x2b')==_0x198603[0x0]||_0x1ad4('0x6')==_0x198603[0x0]||_0x1ad4('0x19')==_0x198603[0x0]||_0x1ad4('0x22')==_0x198603[0x0]||_0x1ad4('0x14')==_0x198603[0x0]?(_0x1a037e=!0x0,''==$['trim'](_0x198603[0x1])&&(_0x198603[0x1]='-'),_0x1ad4('0x19')==_0x198603[0x0]?'-'!=_0x198603[0x1]&&-0x1==_0x198603[0x1][_0x1ad4('0x20')]()[_0x1ad4('0x12')]('no')?$('[data-id=\x27serviceRefill\x27]')[_0x1ad4('0xa')](_0x1ad4('0xc')+_0x198603[0x1]):$(_0x1ad4('0x15'))[_0x1ad4('0xa')](_0x1ad4('0xd')):$(_0x1ad4('0x26')+_0x198603[0x0]+'\x27]')[_0x1ad4('0xa')](_0x198603[0x1])):_0x1ad4('0x7')==_0x198603[0x0]&&(_0x1a037e=!0x0),_0x1a037e&&(_0x51b5b7=_0x51b5b7[_0x1ad4('0xe')](_0xb2971+_0x1ad4('0x1f'),''));}}''!=$[_0x1ad4('0x29')](_0x51b5b7)?($(_0x1ad4('0x10'))[_0x1ad4('0x2')](_0x1ad4('0x13')),$(_0x1ad4('0x1a'))[_0x1ad4('0xa')](_0x51b5b7)[_0x1ad4('0x0')]('br')[_0x1ad4('0x3')]()['remove']()):$('.serviceDetailsCard\x20.card-footer')[_0x1ad4('0x24')]('hidden'),$(_0x1ad4('0x1b'))[_0x1ad4('0xa')](_0x2b5351[_0x1ad4('0x25')]+_0x1ad4('0x23')+_0x2b5351['max']),$(_0x1ad4('0x1e'))[_0x1ad4('0xa')](_0x421cbd['replace'](_0x1ad4('0x5'),_0x2b5351[_0x1ad4('0x2c')]));}}}$(_0x1ad4('0x8'))['on'](_0x1ad4('0x4'),'#orderform-service',_0x32f0c1),_0x32f0c1(),customModule['siteOrder'][_0x1ad4('0x1d')](window[_0x1ad4('0x2a')][_0x1ad4('0x1c')]);}});
</script>
<script>
  function searchID(){
    var service = $('#input_service').val();
    let errorSender = document.getElementById('error_search');
    let errorMsg = `<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Opps..!</strong>  Somethings is wrong. Check services id and try again.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>`;
    try{
      var selectSerCatID = window.modules.siteOrder.services[service].cid;
      } 
      catch(err){     
        errorSender.innerHTML = errorMsg;
      }
      
      let orderCat = document.getElementById('orderform-category');
      let orderSer = document.getElementById('orderform-service');
     

        if(selectSerCatID){
          errorSender.innerHTML = '';
          $(function () {
            orderCat.querySelector('[selected]').removeAttribute('selected');
            console.log(selectSerCatID);
            orderCat.querySelector('[value="'+ selectSerCatID +'"]').setAttribute('selected', 'selected');
            orderCat.value = selectSerCatID;
 
            var event = document.createEvent('HTMLEvents');
            event.initEvent('change', true, false);
            orderCat.dispatchEvent(event);
            setTimeout(() => {
                  let controlSel = orderSer.querySelector('[selected]')
                  if (controlSel) {
                     controlSel.removeAttribute('selected');
                  }
                  // console.log(service);
                  orderSer.querySelector('[value="'+ service +'"]').setAttribute('selected', 'selected');
                  orderSer.value = service;
                  $('#serv_id').html(service);
                  orderSer.dispatchEvent(event);
 
            }, 500);
            var someTabTriggerEl = document.querySelector('#pills-order-tab');
            var tab = new bootstrap.Tab(someTabTriggerEl);
            tab.show();
         });
        }
  }
  

$(function(ready) {
    $("#orderform-service").change(function() {
        setList(0);
    });
    $("#orderform-category").change(function() {
        setList(1);
    });
});
$(document).ready(function() {
    setList(0);
    setList(1);

});
</script>

  <script>
    
setTimeout(function(){
  let servicesId = document.getElementById('orderform-service').value;
  let avgPlacer = document.getElementById('average_time');
  let minMax = document.getElementById('order_quantity');
  //console.log('services id', servicesId);
  let getAvgData = window.modules.siteOrder.services[servicesId].average_time;
  let getMinMax = window.modules.siteOrder.services[servicesId].min_max_label;
  avgPlacer.innerText = getAvgData;
  minMax.innerHTML += `<small id="minmax_value">${getMinMax}</small>`;
 },1000);

 function minMaxHandler(){
  let servicesId = document.getElementById('orderform-service').value;
  let minMax = document.getElementById('minmax_value');
  let getMinMax = window.modules.siteOrder.services[servicesId].min_max_label;
   minMax.innerHTML = getMinMax;
 }

// New codes for fixing 
document.getElementById('orders-drop').addEventListener('click', function(){
    setTimeout(function(){
        minMaxHandler();
        runAvgAndMinMax();
    },200);
 });
 
 document.getElementById('category-drop').addEventListener('click',function(){
   setTimeout(function(){
    minMaxHandler();
    runAvgAndMinMax();
    },200);
 });

 function againCallMinMax(){
  setTimeout(function(){
    runAvgAndMinMax();
  },200);
 }
  </script>


<!-- script for show more btn -->
  <script>
      const showMorebtn = document.getElementById('showMore');
      showMorebtn.addEventListener('click', function(e){
        const targetThat = document.getElementById('more_menu');
        targetThat.classList.toggle('active_more_menu');
      });
  </script>

<script>
  let profileImgApi = 'https://perfectapp.serveravatartmp.com/api/profile/image';
  let username = 'unlock';
  let email = 'jayof58209@3dmasti.com';
  let user_id = '3591';
  let spent = '0';
  let defImg = 'https://res.cloudinary.com/honestsmm/image/upload/v1659066334/honestsmm-assets/man_wgyqfh.png';



    $.post(profileImgApi, { 'user_id':user_id,'username':username }, function(response){
      if(response.success){
        $('#avatar2').attr('src', response.img_url);
        $('#avatar1').attr('src', response.img_url);
      }
      else{
        $('#avatar2').attr('src', defImg);
        $('#avatar1').attr('src', defImg);
      }
      // console.log('user point data updated to server.')
    });


</script>
      
      

<script>
  $('#orderform-category').change(function(){
    setTimeout(function() { 
       $('#orderform-service').trigger('change');
       againCallMinMax();
    }, 1000);
  });

  $("#pills-favorite-tab").click(function() {
    setTimeout(function() { 
      againCallMinMax();
    },1000)
  });
</script>
      <!-- Fav systems -->
     
<script type="text/javascript">
  function listenItemChanges(){
setTimeout(function(){
   $('#orderform-service').trigger("change");
   console.log('Iam called.');
},1000);
}
var customDataURL = "https://perfectapp.serveravatartmp.com/api/favorite";
//var userId =  1;
var userId =  "3591";
var userName = "unlock";
var favServices = [];
var kat = [];
var newOrder;

$(document).ready(function(){

  $("#pills-favorite-tab").click(function() {

    newOrder = false;
    favServices = [];
    $.ajax({
      type: 'POST',
      url: customDataURL,
      crossDomain: true,
      data: {action:"get_fav",user_id:+userId,username:userName},

      success: function(responseData, textStatus, jqXHR) {
         if(responseData.value.length < 1){
         return false;
        }
        responseData.value.map(item => favServices.push(item));
        
        kat = [];

        $("#order-form").prependTo(".favoriler");
        $('.favoriler .alert').addClass('hidden');
        $("#orderform-service").addClass("fav-servisler");

        $('.fav-servisler option').each(function() {
          $(this).removeClass('gizli');
          $(this).attr('disabled', false);
          
          if($.inArray($(this).val(), favServices) !== -1) {
            //
          }else{
            $(this).addClass('gizli');
            $(this).attr('disabled', true);
          }
        });
        


        var ser=window.modules.siteOrder.services;
        var i = 0;
        $.each( ser, function( key, value ) {
          if($.inArray(key, favServices) !== -1) {
            i++;
            kat.push(value.cid);

            $("#orderform-category option[value='"+value.cid+"']").addClass("secili");
            $("#orderform-category option[value='"+value.cid+"']").removeClass("gizli");
          // $("#orderform-category option[value='"+value.cid+"']").append(ser);
            $("#orderform-category option[value='"+value.cid+"']").attr('disabled', false);
            if(i==1){
              $("#orderform-category option[value='"+value.cid+"']").prop('selected', 'selected');
            }
            $(".favoriler").removeClass("gizli");
            $(".uyarifav").addClass("gizli");
          }else if($.inArray(value.cid, kat) == -1){
            $("#orderform-category option[value='"+value.cid+"']").removeClass("secili");
            $("#orderform-category option[value='"+value.cid+"']").addClass("gizli");
            $("#orderform-category option[value='"+value.cid+"']").attr('disabled', true);
        //   $("#orderform-category option[value='"+value.cid+"']").attr('disabled', true).remove();
            
          }
          
        });

        $('#orderform-category').trigger("change");
       
        
      },
      error: function (responseData, textStatus, errorThrown) {

      }
    });
   
  });

  $('.fav-servisler').change(function(){
     console.log('changed.')
   });


  $("#pills-freq-tab").click(function() {
    newOrder = false;
    favServices = [];
    $.ajax({
      type: 'GET',
      url: customDataURL,
      crossDomain: true,
      data: {action:"get_freq_used",user:+userId},

      success: function(responseData, textStatus, jqXHR) {
        $.each( JSON.parse(responseData) , function( key, value ) {
          favServices.push(value);
        });

        kat = [];

        $("#order-form").prependTo(".frequent");
        $("#orderform-service").addClass("freq-servisler");

        $('.freq-servisler option').each(function() {
          $(this).removeClass('gizli');
          $(this).attr('disabled', false);
          if($.inArray($(this).val(), favServices) !== -1) {
            //
          }
          else {
            $(this).addClass('gizli');
            $(this).attr('disabled', true);
          }
        });

        var ser=window.modules.siteOrder.services;
        var i = 0;
        $.each( ser, function( key, value ) {
          if($.inArray(key, favServices) !== -1) {
            i++;
            kat.push(value.cid);

            $("#orderform-category option[value='"+value.cid+"']").addClass("secili");
            $("#orderform-category option[value='"+value.cid+"']").removeClass("gizli");
            $("#orderform-category option[value='"+value.cid+"']").attr('disabled', false);
            if(i==1){
              $("#orderform-category option[value='"+value.cid+"']").prop('selected', 'selected');
            }
            $(".frequent").removeClass("gizli");
            $(".uyarifreq").addClass("gizli");
          }else if($.inArray(value.cid, kat) == -1){
            $("#orderform-category option[value='"+value.cid+"']").removeClass("secili");
            $("#orderform-category option[value='"+value.cid+"']").addClass("gizli");
            $("#orderform-category option[value='"+value.cid+"']").attr('disabled', true);
          }
        });

        $('#orderform-category').trigger("change");
      },
      error: function (responseData, textStatus, errorThrown) {

      }
    });
  });



  $("#pills-sub-tab").click(function() {
    newOrder = false;
    favServices = [];
    $.ajax({
      type: 'GET',
      url: customDataURL,
      crossDomain: true,
      data: {action:"get_auto_subscriptions",user:+userId},

       
      success: function(responseData, textStatus, jqXHR) {
        $.each( JSON.parse(responseData) , function( key, value ) {
          favServices.push(value);
        });

        kat = [];

        $("#order-form").prependTo(".subscribe");
        $("#orderform-service").addClass("sub-servisler");

        $('.sub-servisler option').each(function() {
          $(this).removeClass('gizli');
          $(this).attr('disabled', false);
          if($.inArray($(this).val(), favServices) !== -1) {
            //
          }
          else {
            $(this).addClass('gizli');
            $(this).attr('disabled', true);
          }
        });

        var ser=window.modules.siteOrder.services;
        var i = 0;
        $.each( ser, function( key, value ) {
          if($.inArray(key, favServices) !== -1) {
            kat.push(value.cid);
            i = 1;

            $("#orderform-category option[value='"+value.cid+"']").addClass("secili");
            $("#orderform-category option[value='"+value.cid+"']").removeClass("gizli");
            $("#orderform-category option[value='"+value.cid+"']").attr('disabled', false);
            if(i==1){
              $("#orderform-category option[value='"+value.cid+"']").prop('selected', 'selected');
            }
            $(".subscribe").removeClass("gizli");
            $(".uyarisub").addClass("gizli");
          }else if($.inArray(value.cid, kat) == -1){
            $("#orderform-category option[value='"+value.cid+"']").removeClass("secili");
            $("#orderform-category option[value='"+value.cid+"']").addClass("gizli");
            $("#orderform-category option[value='"+value.cid+"']").attr('disabled', true);
          }
        });

        $('#orderform-category').trigger("change");
      },
      error: function (responseData, textStatus, errorThrown) {

      }
    });
  });


  $('#orderform-category').on('change', function(e){
    if(newOrder == false){
      //e.preventDefault();
      var selCat = $(this).val();
      var ser=window.modules.siteOrder.services;
      setTimeout(function() { 
        var i = 0;
        $.each( ser, function( key, value ) {
          if($.inArray(key, favServices) !== -1 && selCat == value.cid){
            i++;
            $("#orderform-service option[value='"+key+"']").removeClass("gizli");
            $("#orderform-service option[value='"+key+"']").attr('disabled', false);
            if(i==1){
              $("#orderform-service option[value='"+key+"']").prop('selected', 'selected');
            }
          }else{
            $("#orderform-service option[value='"+key+"']").addClass("gizli");
            $("#orderform-service option[value='"+key+"']").attr('disabled', true);
          }
        });
      }, 500);
    }
  });

  var url = $(location).attr('href'),
      parts = url.split("/"),
      pageName = parts[parts.length-2],
      orderId = parts[parts.length-1];
  //console.log(pageName+' - '+typeof(orderId));

  if((pageName == 'order' || pageName == 'subscription') && typeof(orderId) != 'undefined'){
    setTimeout(function(){
      //var user = 'coder_yunus';
      var sid = document.getElementById("orderform-service").value;
      var cid = document.getElementById("orderform-category").value;
      //console.log(sid+"_"+cid);
      //var service_id  = sid+"_"+cid;
      var service_id  = sid;
      //document.getElementById("span_sh").textContent="ID : "+sid+"_"+cid;

      $.post(customDataURL, {'action':'add_to_ordered','user_id':userId,'service_id':service_id});
    }, 2000);
  }
});

$("#pills-order-tab").click(function() {
  newOrder = true;
  $("#order-form").prependTo(".newordersr");
  $("#orderform-service").removeClass("fav-servisler freq-servisler sub-servisler");
  $(".gizli").show();

  var ser=window.modules.siteOrder.services;

  var degistir=0;
  $.each( ser, function( key, value ) {
    if($.inArray(value.cid,kat) !== -1) {
      degistir=value.cid;
    }else{
      $('#orderform-category').find('[value='+value.cid+']').removeAttr('data-show', 'hidden');
      $('#orderform-category').find('[value='+value.cid+']').removeClass('gizli');
      $('#orderform-category').find('[value='+value.cid+']').removeAttr('disabled', 'disabled');
    }
  });
  $('#orderform-category').trigger("change");
});

function openAccountStatus() {
  $('#accountModal').modal('show');
}



  
</script>


<script>
  $('#orderform-category').change(function(){
    setTimeout(function() { 
       $('#orderform-service').trigger('change');
       againCallMinMax();
    }, 1000);
  });

  $("#pills-favorite-tab").click(function() {
    setTimeout(function() { 
      againCallMinMax();
    },1000)
  });
</script>

<script>
  $(document).ready(function(){
    $("#orderform-service").change(function(e){
      var itemValue = e.target.value;
      $('#ServiceID').text(itemValue);
    });
  });
</script>

<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
</script>


	</body>
</html>